<div class="page-container">
  <div class="form-container w-50">
    <div class="page-header-container">
      <p>Feedback</p>
    </div>
    <div class="p-10">
      <form [formGroup]="fbForm" (submit)="submit()">
        <mat-form-field class="form-field">
          <mat-label> Employee Name </mat-label>
          <input matInput formControlName="empName">
          <mat-error *ngIf="fbForm.controls.empName.touched && fbForm.controls.empName.invalid">
            <span *ngIf="fbForm.controls.empName.errors.required">Employee name is required.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label> Employee Id </mat-label>
          <input matInput formControlName="empId">
          <mat-error *ngIf="fbForm.controls.empId.touched && fbForm.controls.empId.invalid">
            <span *ngIf="fbForm.controls.empId.errors.required">Employee id is required.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label> Project </mat-label>
          <mat-select formControlName="projectId">
            <mat-option *ngFor="let project of $projects | async" [value]="project.projectId">
              {{project.projectName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="mat-form-field">
          <div class="mat-form-field-wrapper">
            <app-rating [rating]="fbForm.controls.rating.value"
              (ratingUpdated)="fbForm.controls.rating.setValue($event)" [disabled]="isManager">
            </app-rating>
          </div>
        </div>
        <mat-form-field class="form-field">
          <mat-label> Comments </mat-label>
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>

        <!-- Manager -->
        <div class="mat-form-field" *ngIf="isManager">
          <div class="mat-form-field-wrapper">
            <app-rating [rating]="fbForm.controls.managerRating.value"
              (ratingUpdated)="fbForm.controls.managerRating.setValue($event)">
            </app-rating>
          </div>
        </div>
        <mat-form-field class="form-field" *ngIf="isManager">
          <mat-label> Manager Comments </mat-label>
          <textarea matInput formControlName="managerComment"></textarea>
        </mat-form-field>

        <div class="d-flex d-justify-content">
          <button mat-raised-button color="primary" type="submit">Submit</button>&nbsp;
          <button mat-raised-button color="secondary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
